.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 230px;
  height: 255px;
  cursor: pointer;
  background-color: rgb(255, 228, 179);;
  border-radius: 10px;
  color: #45565c;
  font-size: 16px;
  white-space: pre-line;
  word-break: break-all;
  padding: 10px;
  text-align: center;
}

.albumPreviewContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.previewMock {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  background-color: rgb(129, 119, 101);;
  opacity: 0.1;
}

.imgContainer {
  height: 210px;
  width: 210px;
  border-radius: 20px;
  overflow: hidden;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
