.container {
  display: flex;
  flex-direction: column;
}

.pageTitle {
  font-size: 22px;
  font-weight: 500;
  color: rgba(69, 86, 92, 1);
  text-transform: uppercase;
  margin-bottom: 10px;
  cursor: pointer;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
}
