.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-common-background);
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
  width: 500px;
  border-radius: 10px;
  background-color: var(--color-page-background);
}

.title {
  font-size: 22px;
  color: var(--color-text);
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  width: 100%;
}

.error {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  color: red;
}
