.selectContainer {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: 100%;
}

.label {
  font-size: 18px;
  color: rgba(69, 86, 92, 1);
}

.select {
  border: none;
  height: 50px;
  width: 100%;
}

.select :global(.ant-select-selector) {
  border-radius: 0px 20px 20px 20px;
  padding: 0px 0px 0px 20px !important;
  font-size: 20px;
}

.root:global(.ant-select-dropdown) {
  border-radius: 20px !important;
}

.root :global(.ant-select-item) {
  font-size: 20px;
  border-radius: 20px;
}
