.selectContainer {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: 100%;
}

.label {
  font-size: 18px;
  color: var(--color-text);
}

.select {
  border: none;
  min-height: 50px;
  height: 50px;
  width: 100%;
}

.select :global(.ant-select-selector) {
  border-radius: 10px;
  padding: 0px 0px 0px 20px !important;
  font-size: 20px;
  border: none !important;
}

.select :global(.ant-select-selection-wrap) {
  height: 100%;
}

.root:global(.ant-select-dropdown) {
  border-radius: 10px !important;
}

.root :global(.ant-select-item) {
  font-size: 20px;
  border-radius: 10px;
}

.root :global(.ant-select-item-option-selected) {
  background-color: rgb(200, 200, 200) !important;
}

.root :global(.ant-select-selection-placeholder) {
  font-size: 20px;
  color: rgba(95, 95, 95, 0.3);
}

.disabled {
  border-radius: 10px;
  background: var(--color-input-disabled) !important;
}
