.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  height: 100px;
  cursor: pointer;
  background-color: rgba(237, 255, 255, 1);
  border-radius: 10px;
  color: #45565c;
  font-size: 16px;
  white-space: pre-line;
  word-break: break-all;
  padding: 5px;
  text-align: center;
}
