.modalBlur :global(.ant-modal-mask) {
  backdrop-filter: blur(4px);
}

.modal :global(.ant-modal-body) {
  color: var(--color-text)
}

.modal :global(.ant-modal-content) {
  background-color: var(--color-modal-background);
}

.modal :global(.ant-modal-title) {
  font-size: 20px;
  padding-right: 20px;
  color: var(--color-text);
  background-color: var(--color-modal-background);
}

.modal :global(.ant-modal-close) {
  background: none;
  color: var(--color-text);
}

.modal :global(.ant-modal-close):hover {
  background: none;
  color: var(--color-text-secondary);
}

.modal :global(.ant-modal-title) {
  font-size: 20px;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  width: 100%;
}

.footerBtn {
  width: 100px !important;
  height: 40px !important;
}
