.container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.pageTitle {
  font-size: 22px;
  font-weight: 500;
  color: var(--color-text);
  text-transform: uppercase;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
